body{
    font: 300 62.5% 'ff-zwo-web',Arial,sans-serif;
    color:#141414;
}
#content{
    letter-spacing: 0.05em;
}

.content_header h1{
    text-transform: uppercase;
    margin-bottom:0;
}
#content .center {
    overflow: hidden;
    position: relative;
    margin-bottom:10px;
}
#content .center h3{
    margin-bottom:10px;
    text-transform: capitalize;
    line-height: 24px;
}
#content .content_bottom img{
    max-width: 100%;
    display: block;
}
#content .content_bottom div p{
    color:#505050;
}
body{
    position: relative;
    margin:0;
}
.blur{
    -webkit-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    transition: all .5s;
}
.mask{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background:rgba(60,60,60,.5);
    z-index:10;
    display:none;
    opacity: 0;
}
.quit{
    width:100%;
    height:100%;
    position: absolute;
    z-index:11;
}
.wrap_item img{
    width: 780px;
}
.wrap_item{
    position: absolute;
    width:780px;
    height:470px;
    transition: all .5s ease;
    cursor: pointer;
    box-shadow: 0 0  40px 2px #000;
}
.wrap_inner{
    width:780px;
    height:470px;
    position: absolute;
    perspective: 1000px;
    margin-left:150px;
}
.wrap_out{
    width:1100px;
    height:470px;
    position: fixed;
    margin:80px auto;
    left:0;
    right:0;
    z-index: 12;
}

/**************/
.show{
    z-index:5;
    transform: rotateY(0deg) translateX(0) translateZ(0px);
    -webkit-transform: rotateY(0deg) translateX(0) translateZ(0px);
    -moz-transform: rotateY(0deg) translateX(0) translateZ(0px);
    -o-transform: rotateY(0deg) translateX(0) translateZ(0px);
}
.middle_left{
    z-index: 3;
    -webkit-transform: rotateY(40deg) translateX(-200px) translateZ(-300px) scale(0.6);
    -moz-transform: rotateY(40deg) translateX(-200px) translateZ(-300px) scale(0.6);
    -o-transform: rotateY(40deg) translateX(-200px) translateZ(-300px) scale(0.6);
}
.middle_right{
    z-index: 3;
    -webkit-transform: rotateY(-40deg) translateX(200px) translateZ(-300px) scale(0.6);
    -moz-transform: rotateY(-40deg) translateX(200px) translateZ(-300px) scale(0.6);
    -o-transform: rotateY(-40deg) translateX(200px) translateZ(-300px) scale(0.6);

}
.out{
    z-index: -1;
    opacity: 0!important;
    transform: rotateY(0deg) translateX(0) translateZ(0px) scale(0.6);
    -webkit-transform: rotateY(0deg) translateX(0) translateZ(0px) scale(0.6);
    -moz-transform: rotateY(0deg) translateX(0) translateZ(0px) scale(0.6);
    -o-transform: rotateY(0deg) translateX(0) translateZ(0px) scale(0.6);
}
.wrap_out .show p{
    height:20px;
    transition: all .2s 1.2s;
}
.wrap_out p{

    height:0;
    display: block;
    position: absolute;
    z-index:20;
    bottom:0;
    right:20px;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    overflow: hidden;
    //border:1px solid red;
    text-transform: uppercase;
}

/*************/
.wrap_inner .wrap_item div{
    background:#fff;
    position: absolute;
}
.wrap_inner .show .line_b{
    width:760px;
    transition: all .2s .4s;
    -webkit-transition: all .2s .4s;
    -moz-transition: all .2s .4s;
    -o-transition: all .2s .4s
}
.wrap_inner .show .line_l{
    height:450px;
    transition: all .2s .6s;
    -webkit-transition: all .2s .6s;
    -moz-transition: all .2s .6s;
    -o-transition: all .2s .6s
}
.wrap_inner .show .line_t{
    width:760px;
    transition: all .2s .8s;
    -webkit-transition: all .2s .8s;
    -moz-transition: all .2s .8s;
    -o-transition: all .2s .8s
}
.wrap_inner .show .line_r{
    height:450px;
    transition: all .2s 1s;
    -webkit-transition: all .2s 1s;
    -moz-transition: all .2s 1s;
    -o-transition: all .2s 1s
}
.line_t{
    height:1px;
    top:10px;
    width:0;
    left:10px;
}

.line_r{
    width:1px;
    right:10px;
    top:10px;
    height:0;
}
.line_b{
    height:1px;
    bottom:10px;
    width:0;
    right:10px;
}
.line_l{
    width:1px;
    left:10px;
    bottom:10px;
    height:0;

}